{% extends 'tweets/base.html' %}

{% block head_title %}
    All tweets
{% endblock head_title %}

{% block content %}
<div class="row">
    <div class="col">
        <h3>All tweets</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-4 mx-auto col-10">
        <form id="tweet-create-form" class="form" method="POST" action="/create/">
            {% csrf_token %}
            <div id="tweet-create-form-error" class="d-none">

            </div>
            <input type="hidden" value="/" name="next" />
            <textarea class="form-control" required="required" rows="4" name="content" placeholder="Your tweet..."></textarea>
            <button class="btn btn-success" type="submit">Tweet</button>
        </form>
    </div>
</div>

<div id='tweets'>

</div>

<script>
const tweetsContainerElement = document.getElementById('tweets')

tweetsContainerElement.innerHTML = 'Loading...'

function handleTweetFormError(msg, display) {
    const errorContainer = document.getElementById("tweet-create-form-error")
    if (display) {
        errorContainer.innerText = msg
        errorContainer.className = "alert alert-danger"
    } else {
        errorContainer.className = "d-none"
    }
}

function handleFormSubmit(event) {
    event.preventDefault()
    const myForm = event.target
    const myFormData = new FormData(myForm)
    const url = myForm.getAttribute('action')
    const method = myForm.getAttribute('method')
    const responseType = 'json'

    const xhr = new XMLHttpRequest()

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
    xhr.onload = function() {
        console.log(xhr.status)
        if (xhr.status === 201) {
            handleTweetFormError('', false)
            const newTweet = xhr.response
            console.log(newTweet)
            tweetsContainerElement.insertBefore(tweetElement(newTweet), tweetsContainerElement.firstChild)
            } else if (xhr.status === 400) {
                const errorContent = xhr.response.content
                if (errorContent) {
                    errorMsg = errorContent[0]
                    console.log(errorMsg)
                    handleTweetFormError(errorMsg, true)
                }
            } else if (xhr.status === 400) {
                console.log("You must be logged in to add new tweets")
            } else if (xhr.status === 500) {
                console.log("Server error, try again later")
            }
        }
    xhr.onerror = () => alert("Error, couldn't fetch data")
    xhr.send(myFormData)
}

const tweetCreateForm = document.getElementById('tweet-create-form')
tweetCreateForm.addEventListener('submit', handleFormSubmit)


function handleAction(id, action) {
    const url = '/api/tweets/action'
    const method = 'POST'
    const responseType = 'json'
    const token = '{{ csrf_token }}'

    const data = JSON.stringify({
        id: id,
        action: action
    })
    
    const xhr = new XMLHttpRequest()
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.setRequestHeader("Content-Type", "application/json")
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
    xhr.setRequestHeader("X-CSRFToken", token)

    xhr.onload = function() {
        console.log(xhr.status, xhr.response)
        const updatedTweet = xhr.response
        if (action === 'retweet') {
            tweetsContainerElement.insertBefore(tweetElement(updatedTweet), tweetsContainerElement.firstChild)
        } else {
            updatedElement = tweetElement(updatedTweet)
            document.getElementById(`tweet-${id}`).replaceWith(updatedElement)
        }
     }
    xhr.send(data)

    return 
}

function tweetElement(tweet) {
    const tweetP = document.createElement("div")
    tweetP.id = `tweet-${tweet.id}`
    tweetP.className = 'col-12 border rounded p-2 my-2'

    const tweetContent =document.createElement("p")
    tweetContent.className = 'border-bottom pb-2'
    tweetContent.textContent = tweet.content

    const tweetLikeBtn =document.createElement("button")
    tweetLikeBtn.id = `like-${tweet.id}`
    tweetLikeBtn.className = 'btn btn-sm btn-primary'
    tweetLikeBtn.textContent = `Like (${tweet.likes})`
    tweetLikeBtn.onclick = () => handleAction(tweet.id, 'like')

    const tweetUnlikeBtn =document.createElement("button")
    tweetUnlikeBtn.id = `unlike-${tweet.id}`
    tweetUnlikeBtn.className = 'btn btn-sm btn-outline-primary'
    tweetUnlikeBtn.textContent = 'Unlike'
    tweetUnlikeBtn.onclick = () => handleAction(tweet.id, 'unlike')

    const tweetRetweetBtn =document.createElement("button")
    tweetRetweetBtn.id = `retweet-${tweet.id}`
    tweetRetweetBtn.className = 'btn btn-sm btn-outline-success'
    tweetRetweetBtn.textContent = 'Retweet'
    tweetRetweetBtn.onclick = () => handleAction(tweet.id, 'retweet')

    tweetP.appendChild(tweetContent)
    tweetP.appendChild(tweetLikeBtn)
    tweetP.appendChild(tweetUnlikeBtn)
    tweetP.appendChild(tweetRetweetBtn)

    return tweetP
}

const load_tweets = function() {
    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = '/api/tweets'
    const responseType = 'json'

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
        const listedItems = xhr.response
        console.log(listedItems)
        tweetsContainerElement.innerHTML = ''
        listedItems.forEach(tweet => tweetsContainerElement.appendChild(tweetElement(tweet)))
        }
    xhr.send()
}

load_tweets()
</script>
{% endblock content %}